a {
  color: #da4d4d;
}
.cd-faq-categories a {
  color: #da4d4d;
}
@media only screen and (min-width: 768px) {
  .no-touch .cd-faq-categories a:hover {
    background: #ec6161;
  }
}
@media only screen and (min-width: 1024px) {
  .cd-faq-categories a::before {
    background-color: #ec6161;
  }
  .cd-faq-categories .selected {
    background: #da4d4d !important;
    border-bottom: 1px solid #c22828 !important;
  }
}
@media only screen and (min-width: 768px) {
  .cd-faq-trigger::before, .cd-faq-trigger::after {
    background: #da4d4d;
  }
}