a {
  color: #6aae7a;
}
.cd-faq-categories a {
  color: #6aae7a;
}
@media only screen and (min-width: 768px) {
  .no-touch .cd-faq-categories a:hover {
    background: #84c994;
  }
}
@media only screen and (min-width: 1024px) {
  .cd-faq-categories a::before {
    background-color: #84c994;
  }
  .cd-faq-categories .selected {
    background: #6aae7a !important;
    border-bottom: 1px solid #4d8e5c !important;
  }
}
@media only screen and (min-width: 768px) {
  .cd-faq-trigger::before, .cd-faq-trigger::after {
    background: #6aae7a;
  }
}