.portfolio-filter button:hover {
  border-bottom: 2px solid #da4d4d;
}
  
.portfolio-filter button.active {
  border-bottom: 2px solid #da4d4d;
}

.portfolio-block:before {
  background: rgba(218, 77, 77, 0.9);
}

.portfolio-block .caption .search-icon {
  background: #da4d4d;
}

.toc-button .tocbut-container .tocbut-bar1, 
.toc-button .tocbut-container .tocbut-bar2,
.toc-button .tocbut-container .tocbut-bar3 {
  background-color: #da4d4d;
}

.special-callout {
  background-color: #da4d4d;
}

span.detail-label {
  background-color: #da4d4d;
}