<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

  {{ partial "head.html" . }}

  <body>

    <div id="all">

        <header>

          {{ partial "nav.html" . }}

        </header>

        {{ partial "breadcrumbs.html" . }}

        <div id="content">
            <div class="container">
                <div class="row">
                    <!-- *** LEFT COLUMN *** -->

                    <div class="col-md-9" id="blog-listing-medium">

                        <table id="dtBasicExample" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th class="th-sm">Date</th>
                                    <th class="th-sm">Sermon Title</th>
                                    <th class="th-sm">Bible Passage</th>
                                    <th class="th-sm">Preacher</th>
                                </tr>
                            </thead>
                            <tbody>
                            {{ $allpages := (where .Data.Pages "Type" "in" .Site.Params.viewAll) }}
                            {{ range $allpages }}
                                <tr>
                                    <td>{{ .Date.Format "01/02/2006" }}</td>
                                    <td><a href="{{ .Permalink }}">{{ .Title }}</a></td>
                                    <td>{{ .Params.verse }}</td>
                                    <td>{{ .Params.author }}</td>
                                </tr>
                            {{ end }}
                            </tbody>
                        </table>
                    </div>
                    <!-- /.col-md-9 -->

                    <!-- *** LEFT COLUMN END *** -->

                    <!-- *** RIGHT COLUMN ***
       _________________________________________________________ -->

                    <div class="col-md-3">

                        <!-- *** MENUS AND WIDGETS *** -->

                        {{ partial "sidebar.html" . }}

                        <!-- *** MENUS AND FILTERS END *** -->

                    </div>
                    <!-- /.col-md-3 -->

                    <!-- *** RIGHT COLUMN END *** -->

                </div>
                <!-- /.row -->
            </div>
            <!-- /.container -->
        </div>
        <!-- /#content -->

        {{ partial "footer.html" . }}

    </div>
    <!-- /#all -->

    {{ partial "scripts.html" . }}

  </body>
</html>
