.portfolio-filter button:hover {
  border-bottom: 2px solid #986dbd;
}
  
.portfolio-filter button.active {
  border-bottom: 2px solid #986dbd;
}

.portfolio-block:before {
  background: rgba(152, 109, 189, 0.9);
}

.portfolio-block .caption .search-icon {
  background: #986dbd;
}

.toc-button .tocbut-container .tocbut-bar1, 
.toc-button .tocbut-container .tocbut-bar2,
.toc-button .tocbut-container .tocbut-bar3 {
  background-color: #986dbd;
}

.special-callout {
  background-color: #986dbd;
}

span.detail-label {
  background-color: #986dbd;
}